// Colors
$light-grey: #f2f2f2;
$dark-text: #2c2c2c;
$dark-green: #3e642f;
$main-green: #3e6c2d;
$lighter-green: #6cbf4d;
$light-green: #93df74;
$button-green: #4caf50;
$standard-red: #ee4d4d;
$orange: #f79f3d;

$reg-grey: #929292;
