// breakpoints
$S: 473px;
$M: 600px;
$L: 920px;
$XL: 1100px;
$T: 500px;
$content-width: $XL;
// media queries
@mixin MQ($canvas) {
  @if $canvas==S {
    @media only screen and (min-width: $S) {
      @content;
    }
  } @else if $canvas==M {
    @media only screen and (min-width: $M) {
      @content;
    }
  } @else if $canvas==L {
    @media only screen and (min-width: $L) {
      @content;
    }
  } @else if $canvas==XL {
    @media only screen and (min-width: $XL) {
      @content;
    }
  } @else if $canvas==T {
    @media only screen and (max-width: $T) {
      @content;
    }
  }
}

@mixin border_guide {
  box-shadow: inset 0px 0px 0px 0.5px black;
}

div {
  // @include border_guide;
}
