mat-form-field {
  width: 100%;
}
.generalContainer {
  padding: 0 1.1em;
  margin: 0 auto;

  &-playerList {
    text-align: center;
  }
  @include MQ(M) {
    width: 50vw;
  }
}

.generalForm {
  &__actionArea {
    height: 100px;
  }
  padding: 0 1.1em;
  &__button {
    width: 100%;
    margin-bottom: 10px !important;
  }
}

.standardTableRow {
  clear: both;
  padding: 0.1em 0.2em;
  margin: 0 0 10px 0;
  &__labelSection {
    font-weight: bold;
    font-size: 0.8em;
  }
}
