<div class="container">
  <h1 class="heading mainTitle" translate>APP_NAME</h1>

  <section class="heroBin heroBin-home"></section>
  <h2 class="heading">About</h2>
  <p>
    {{ message }}
    Here dolor sit amet, consectetur adipiscing elit. Phasellus suscipit, orci ut condimentum sodales, magna leo
    imperdiet mauris, at rhoncus magna urna et sapien.
  </p>
  <div class="bin bin__actionSheet">
    <a mat-raised-button [routerLink]="['/player']">Manage Players</a><br />
    <br />
    <a mat-raised-button routerLink="/league">Manage Leagues</a>
  </div>
</div>
